In [1]:
# Model Evaluation and Refinement 
# importing the requered libraries 
import pandas as pd
import numpy as np

In [2]:
# reaing the csv file and storing in the df 
df = pd.read_csv('auto.csv')

In [3]:
# converting dataframe to csv 
df.to_csv('module_5_auto.csv')

In [4]:
# first using the numerical data only 
df = df._get_numeric_data()
df.head()

   3  88.6  168.8  64.1  48.8  2548  130   9.0  21  27
0  3  88.6  168.8  64.1  48.8  2548  130   9.0  21  27
1  1  94.5  171.2  65.5  52.4  2823  152   9.0  19  26
2  2  99.8  176.6  66.2  54.3  2337  109  10.0  24  30
3  2  99.4  176.6  66.4  54.3  2824  136   8.0  18  22
4  2  99.8  177.3  66.3  53.1  2507  136   8.5  19  25